@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: "Nunito Sans";
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown {
    display: flex;
    justify-content: center;
}

.time-box {
    position: relative;
    background: #fff;
    border-radius: 24px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 0 20px;
    text-align: center;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
    font-weight: bolder;
}

.time {
    position: relative;
    font-size: 24px;
    color: #333;
    z-index: 1;
}

.time-text {
    position: absolute;
    font-size: 14px;
    width: 100%;
    bottom: -20px;
    left: 0;
    text-align: center;
}

